
@import '../../assets/styles/color.scss';
@import '../../assets/styles/pxToRem.scss';
@import '../../assets/styles/animations.scss';


.login{

    &__image{        
      background-image:linear-gradient(
        to  right top,
        rgba(31, 85, 136, 0.424), $primary-color), url('../../assets/images/login/imagem\ da\ tela\ de\ login.jpg') ;      
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 20% 80%;   
      opacity: .9;
   
    }

    &__fields{
        box-shadow: -20px 0px 50px 50px rgb(255, 255, 255);
        z-index: 1;
    }


    &__logo{ 
        width: 30%;
        margin: auto;
        border-radius:px(10);
        box-shadow: 2px 2px 20px 5px rgb(176, 175, 175);
        animation: float 2s ease-in-out infinite;
    }

    &__email, &__password{ 
        border-radius:px(5);
        border: px(1) solid rgba(128, 128, 128, 0.447);
        &:focus{
            outline: none;
        }

        &:focus::-webkit-input-placeholder{
            opacity: 0;
        }
    }

    &__enter{
        background-color:$primary-color;
        font-weight:bold;
        box-shadow: 2px 2px 20px 2px rgb(176, 175, 175)
    }
}