<main class="login w-100 min-vh-100 d-flex row g-0">
   <section class="login__image  col-xxl-8 col-xl-8 col-lg-8 col-md-7 col-sm-1">  </section>

   <section class="login__fields col-xxl-4 col-xl-4 col-lg-4 col-md-5 min-vh-100 d-flex justify-content-center align-items-center pe-3 ">

    <div class="login__credentials col-sm-12 col-12 col-xxl-8 col-xl-10 col-6 col-lg-12 col-md-12  h-auto p-4  d-flex flex-column">
        <img src="../../assets/images/login/logo.png" class="login__logo img-fluid mb-5 " alt="">
        <form class="d-flex flex-column">
            <input class="login__email mb-4 p-2" type="text" placeholder="Email">
            <input class="login__password mb-5 p-2" type="password" placeholder="Password">

            <button class="login__enter btn btn-primary p-3 mb-2">Enter</button>
            <p>Don't have an account? <a href=""> Click here </a> </p>

        </form>
    </div>

   </section>
</main>