<main class="login w-100 min-vh-100 d-flex">
   <section class="login__image w-50">
   </section>
   <section class="w-50 min-vh-100 d-flex justify-content-center align-items-center ">
    <div class="login__form w-50 h-auto p-5 d-flex flex-column ">
        <img src="../../assets/images/login/logo.png" class="login__logo img-fluid mb-5 " alt="">
        <form class="d-flex flex-column">
            <input class="login__email mb-4 p-2" type="text" placeholder="Email">
            <input class="login__password mb-5 p-2" type="password" placeholder="Password">

            <button class="login__enter btn btn-primary p-3 mb-2">Enter</button>
            <p>Don't have an account? <a href=""> Click here </a> </p>

        </form>
    </div>
   </section>
</main>