@import "../../assets/styles/color.scss";
@import "../../assets/styles/pxToRem.scss";
@import "../../assets/styles/animations.scss";

.new-password {
  background-image: linear-gradient(
      to right top,
      rgba(31, 85, 136, 0.424),
      $primary-color
    ),
    url("../../assets/images/login/imagem\ da\ tela\ de\ login.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 20% 80%;
  opacity: 0.9;

  &__container{

    border-radius: px(5);

  }
  

  &__email {
    border-radius: px(5);
    border: px(1) solid rgba(128, 128, 128, 0.447);
    &:focus {
      outline: none;
    }

    &:focus::-webkit-input-placeholder {
      opacity: 0;
    }
  }
}

a{
  text-decoration: none;
  color:$primary-color;
  font-weight: bold;
  font-size:px(18);
}