<main class="w-100 min-vh-100 d-flex row g-0">
    
    <section class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 min-vh-100 d-flex justify-content-center align-items-center bg-black">        
        <div class="col-sm-12  h-auto p-4 d-flex flex-column bg-danger ">
             <img src="../../assets/images/login/logo.png" class="img-fluid mb-5 col-1 m-auto" alt="Logotipo Minha Loja"> -
            <form class="d-flex flex-column m-auto col-6" >
                <input type="text">
                <input type="text">
                <input type="text">
                <input type="text">
                <input type="text">
                <input type="text">
            </form>
            
        </div>        
    </section>


 </main>